<!DOCTYPE html>
<html>
<head>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <link rel="stylesheet" href="table_css.css">

  </head>
<body>

    <div id="app" class="flat-table">
      <h1>{{ message }}</h1>
    </div>
    
    
    <table id="thirdTable">
      <thead>
        <tr>
          <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows">
          <td v-for="col in columns">{{row[col]}}</td>
        </tr>
      </tbody>
    </table>
    
    <br/><hr/><br/>


    <table id="thirdTable1">
      <thead>
        <tr>
          <th v-for="col in columns" v-on:click="sortTable(col)">{{col}}</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="row in rows">
          <td v-for="col in columns">{{row[col]}}</td>
        </tr>
      </tbody>
    </table>



    

    <script src="script_1.js"></script>
    <script src="script.2.js"></script>
</body>

</html>